<div class="container-fluid ">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-4">
              <!-- First Column Content -->
              <div class="column-content">
                  <!-- Content for the first column goes here -->
                  <!-- <img src="assets/moneyfy_logo.png" class="firstcol" alt="Image"> -->
                  <div class="textheader">
                      <p>About Us</p>
                      <h6>Excellence IT Solutions is a fast-growing software company that keeps culture and creativity at the heart of everything we do. We are dedicated to empowering businesses through innovative technology solutions. With a foundation built on expertise, reliability, and client satisfaction, we strive to be your trusted partner in navigating the ever-evolving landscape of information technology. <br><br> Our mission is simple yet ambitious: to harness the power of technology to solve complex business challenges and drive success. We believe that every problem has a solution, and we are committed to delivering tailored IT solutions that meet your unique needs and objectives.</h6><br>
                      
                  </div>
                  
                </div>
            </div>
            <div class="col-md-8">
              <!-- Second Column Content -->
              <div class="column-content-full">
                  <img src="assets/aboutus.jpg" alt="Image">
              </div>
            </div>
          </div>

          <div class="row pt-5">
            <div class="textheader">
                <p>Meet our team</p>
            </div>
          </div>
          <div class="row pt-5 text-center">
            <div class="col-md-4">
                <div class="team-member">
                    <img src="assets/johndoe.png" alt="John Doe">
                    <h3>Ramel Cabug-Os</h3>
                    <p>Chief Executive Officer</p><br>
                    <p>Ramel brings 15 of industry experience to the table, coupled with a relentless drive to push boundaries and explore new horizons. With a background in [mention relevant experience or qualifications, e.g., "business management" or "technology development"], he possesses a unique blend of expertise that drives our company forward.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="assets/johndoe.png" alt="John Doe">
                    <h3>Jomalyn Quebral</h3>
                    <p>Chief Operations Officer</p><br>
                    <p>Jomalyn brings 10 of experience in operations management to her role as COO. With a keen eye for detail and a passion for problem-solving, she has successfully led numerous initiatives that have enhanced our company's performance and streamlined our operations.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="assets/johndoe.png" alt="John Doe">
                    <h3>Cristoffer Ian Nadal</h3>
                    <p>Chief Technology Officer</p><br>
                    <p>Ian brings 10 of experience in software engineering to his role as CTO. With a proven track record of developing cutting-edge solutions and leading cross-functional teams, he possesses the technical acumen and strategic vision needed to drive our company forward.</p>
                </div>
            </div>
          </div>
    </div>
</div>
