<div class="container p-5">
    <div class="row">
      <div class="col-md-4">
        <!-- First Column Content -->
        <div class="column-content">
            <!-- Content for the first column goes here -->
            <!-- <img src="assets/moneyfy_logo.png" class="firstcol" alt="Image"> -->
            <div class="textheader">
                <p>Contact Us</p>
                <h5>We're here to help and answer any questions you might have. We look forward to hearing from you.</h5><br>
                <i class="bi bi-telephone"></i> Phone: +1 123-456-7890<br>
                <i class="bi bi-envelope"></i> Email: info@excellence.solutions<br>
                <i class="bi bi-geo-alt"></i> Address: Tanza, Cavite
                
            </div>
            
          </div>
      </div>
      <div class="col-md-8">
        <!-- Second Column Content -->
        <div class="column-content-full">
            <img src="assets/contactus.png" alt="Image">
        </div>
      </div>
    </div>
</div>