<div class="container">
    <div class="row">
      <div class="col-md-5">
        <!-- First Column Content -->
        <div class="column-content d-flex align-items-center justify-content-center">
            <!-- Content for the first column goes here -->
            <!-- <img src="assets/moneyfy_logo.png" class="firstcol" alt="Image"> -->
            <div class="text-center moneyfyhead">
                <p>moneyfy</p>
                <h4>Your BSP Accredited Digital Wallet and Mobile Banking Solutions</h4><br>
                <button class="btn btn-orange">Schedule a Demo</button>
            </div>
            
          </div>
      </div>
      <div class="col-md-7">
        <!-- Second Column Content -->
        <div class="column-content">
            <img src="assets/mockup.png" alt="Image">
        </div>
      </div>
    </div>
</div>